@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Inter:wght@400;600;700&family=Lato&family=Montserrat&family=PT+Serif&family=Poppins:wght@300;400;600&family=Space+Mono:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  width: 30px;
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #bdbdbd;
  border-radius: 24px;
  width: 30%;
}

.login div {
  padding: 5px;
  margin-top: 5px;
}

.login--main h3 {
  width: 95%;
}

.login-para {
  color: #333;
  font-weight: 400;
}
.login--input__email,
.login--input__password {
  border-radius: 8px;
  border: 1px solid #bdbdbd;
  height: 48px;
  text-indent: 55px;
  font-family: "Noto Sans", sans-serif;
}

.login--input__email,
.login--input__password,
.login--button__code {
  width: 100%;
  border-radius: 8px;
}

.login--position__lock {
  position: relative;
}

.login--position--email__absolute {
  position: absolute;
  left: 20px;
  top: 22px;
}

.login--position__email {
  position: relative;
}

.login--icon__icons {
  font-size: "18px";
}

.login--position--absolute__img {
  position: absolute;
  left: 20px;
  top: 22px;
}

.login--button__code {
  height: 38px;
  background-color: #2f80ed;
  color: #fff;
  border: 1px solid #2f80ed;
}

.login--button__code {
  cursor: pointer;
}

.login--input,
.continue--media,
.login--button {
  text-align: center;
  position: relative;
}

.section--login {
  width: 100%;
}

.section--brand {
  display: flex;
  align-items: center;
}

.para--continue {
  color: #828282;
}

.login-footer {
  display: flex;
  justify-content: space-between;
  color: #828282;
}

.login-footer a {
  color: #828282;
}

.members--login {
  text-align: center;
  color: #828282;
}

.members--login a {
  color: #2f80ed;
}

.social--media__login {
  position: relative;
  top: -18px;
  text-align: center;
}

.github__login,
.twitter__login,
.facebook__login,
.google__login {
  cursor: pointer;
  border: 1px solid;
  border-radius: 50%;
  padding: 8px;
  margin: 0 10px;
}

@media (max-width: 1130px) {
  .login {
    width: 50%;
  }
}

@media (max-width: 587px) {
  .login {
    width: 70%;
  }
}

@media (max-width: 480px) {
  .login {
    width: 90%;
  }
}
