@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Noto Sans", sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

button {
  cursor: pointer;
}

.dash {
  display: flex;
  justify-content: space-evenly;
}

.dash-div {
  position: relative !important;
  top: 30px !important;
}

@media (max-width: 1104px) {
  .UserTweet,
  .tweet {
    width: 650px !important;
  }
  .message {
    width: 90% !important;
  }
}

@media (max-width: 1057px) {
  .UserTweet,
  .tweet {
    width: 600px !important;
  }
  .Home-Feed {
    justify-content: space-around !important;
  }
  /* .dash {
    display: grid;
    justify-content: center;
  } */
}

@media (max-width: 871px) {
  .dash {
    display: grid;
    justify-content: center;
  }
  .feed-dashboard {
    margin-bottom: 50px;
    width: 100% !important;
  }
}

@media (max-width: 971px) {
  .UserTweet,
  .tweet {
    width: 550px !important;
  }
}

@media (max-width: 870px) {
  .Home-Feed,
  .Explore {
    display: grid !important;
    justify-content: center !important;
    margin: auto !important;
  }
  .trends-follow {
    width: 550px !important;
    display: contents;
    order: -10 !important;
  }
  .Home-Feed-Down {
    order: 10 !important;
  }
  .title hr,
  .trend-item hr {
    width: 500px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

@media (max-width: 577px) {
  .Home-Feed {
    width: 500px !important;
  }
  .trends-follow {
    width: 500px !important;
  }
  .UserTweet,
  .tweet {
    width: 500px !important;
  }
}

@media (max-width: 710px) {
  h2 a {
    display: none;
  }
}

@media (max-width: 636px) {
  .header-profile span {
    display: none;
  }
}

@media (max-width: 556px) {
  .header-navdropdown {
    display: none;
  }
}

@media (max-width: 530px) {
  .Home-Feed {
    width: 480px !important;
  }
  .trends-follow {
    width: 480px !important;
  }
  .UserTweet,
  .tweet {
    width: 480px !important;
  }
}

@media (max-width: 498px) {
  .Home-Feed {
    width: 400px !important;
  }
  .trends-follow {
    width: 400px !important;
  }
  .UserTweet,
  .tweet {
    width: 400px !important;
  }
}

@media (max-width: 419px) {
  .Home-Feed {
    width: 350px !important;
  }
  .trends-follow {
    width: 350px !important;
  }
  .UserTweet,
  .tweet {
    width: 350px !important;
  }
}

@media (max-width: 370px) {
  .Home-Feed {
    width: 300px !important;
  }
  .trends-follow {
    width: 300px !important;
  }
  .UserTweet,
  .tweet {
    width: 300px !important;
  }
}

@media (max-width: 530px) {
  .header-navlinks ul {
    display: none !important;
  }
  footer {
    display: none !important;
  }
}

@media (min-width: 530px) {
  .footer-bottom {
    display: none;
  }
}

@media (max-width: 577px) {
  .post-icon span {
    display: none;
  }
}

@media (max-width: 503px) {
  .input,
  .tweets-reply-msg {
    width: 85% !important;
  }
}

@media (max-width: 370px) {
  .input,
  .tweets-reply-msg {
    width: 80% !important;
  }
}

@media (max-width: 419px) {
  .UserTweet-reply {
    padding-left: 20px !important;
  }
}
